*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #33a746cc;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-right: 70px;
    padding: 20px;
    border-radius: 50%;
    
}
.logo img{
    
    width: 95px;
    height: 95px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #888787c2;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

}



.title {
    position: relative;
    top:130px;
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    font:Parisiene;
    color: rgb(5, 5, 5);
}

p {
    position: relative;
    top:120px;
    margin-bottom: 40px;
    font-size: 18px;
    color: rgb(2, 2, 2);
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #33a746cc;
    border-radius: 8px;
    color: rgb(255, 254, 254);
    text-decoration: none;
    background: #33a746cc;
}

.btn:hover {
    background: none;
    
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}


.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.box-container {
    height: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    position: relative;
    top:140px;
    height: 12rem;
    width: 17rem;
    background: #33a746cc; 
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 1rem;  
    padding: 1rem; 
  
}
.box-container .box h3 {
 
    text-align: center;
    border-radius: 10%;
    color: rgb(10, 10, 10);
    background: #94f16f00;
    font-size: 2rem;
    margin: 1rem 0;

}
.box-container .box p {
 
    text-align: justify;
    font-size: 2rem;
    margin: 1rem 0;

}
.box-container .box img{
 
    text-align: center;
    position: relative;
    top:-10px;

}
.reco{
    height: 100px;
    width: 100px;
}
.reco1{
    height: 100px;
    width: 100px;
    text-align: center;
    position: relative;
    top:-10px;
}
.reco3{
    height: 100px;
    width: 100px;
    text-align: center;
    position: relative;
    top:-4px;
}
.box-container .box h3 {
    font-size: 20px;
    color: #f7f1f1;

}
footer{
    width: 100%;
    overflow-x:hidden ;
    position: relative;
    top:400px;
    bottom: 0;
    left: 0;
    background: #111;
  }
  footer .content{
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer .content p,a{
    position: relative;
    top:10px;
    color: #fff;
  }
  
  footer .content .box{
    width: 33%;
    transition: all 0.4s ease;
  }
  footer .content .topic{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
  
  }

  footer .content p{
    text-align: justify;
  }
  footer .content .lower .topic{
    margin: 24px 0 5px 0;
  }
  footer .content .lower i{
    padding-right: 16px;
  }
  footer .content .middle{
    padding-left: 80px;
  }
  footer .content .middle a{
    line-height: 32px;
  }
  footer .content .right input[type="text"]{
    height: 45px;
    width: 100%;
    outline: none;
    color: #ffffff;
    background: #000;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #222222;
  }
  footer .content .right input[type="submit"]{
    height: 42px;
    width: 100%;
    font-size: 18px;
    color: #d9d9d9;
    background: #33a746cc;
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid #33a746cc;
    transition: all 0.3s ease-in-out;
  }
  .content .right input[type="submit"]:hover{
    background: none;
    color:  #33a746cc;
  }
  footer .content .media-icons img{
    font-size: 16px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    border: 2px solid #222222;
    margin: 30px 5px 0 0;
    transition: all 0.3s ease;
  }
  .ti{
    position: relative;
    top:22px;
    color: #d9d9d9;
  }
  .content .media-icons a:hover{
    border-color: #33a746cc;
  }
  footer .bottom{
    position: relative;
    top:-110px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    padding: 0 40px 5px 0;
  }
  footer .bottom a{
    position: relative;
    top: -2px;
    color: #33a746cc;
  }
  footer .bottom p{
    color: #ffffffcc;
  }
  footer a{
    transition: all 0.3s ease;
  }
  footer a:hover{
    color: #33a746cc;
  }
  @media (max-width:1100px) {
    footer .content .middle{
      padding-left: 50px;
    }
  }
  @media (max-width:950px){
    footer .content .box{
      width: 50%;
    }
    .content .right{
      margin-top: 40px;
    }
  }
  @media (max-width:560px){
    footer{
      position: relative;
    }
    footer .content .box{
      width: 100%;
      margin-top: 30px;
    }
    footer .content .middle{
      padding-left: 0;
    }


.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

@media (max-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }


    .navbar {
        display: none;
    }
   
    
}
  }